.edf
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.env
.venv
build/
dist/
*.spec.bak
models/
eegsignals/
temp_uploads/
web/
.vscode/
.idea/
*.suo
*.user
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
*.bak
confusion_matrix.png